.service {
    position: relative;
    width: calc(100% - 324px);
    background-color: #262626;
    color: white;
    overflow: hidden;
    margin: 0 162px;
}


.services {

    border-left: var(--border-main);
    border-right: var(--border-main);
}

.services-head {
    padding: 0 50px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.services-head>h1 {
    font-weight: 600;
    font-size: 40px;
}

.services-head>p {
    color: #E6E6E6;
    font-weight: 400;
    font-size: 17px;
}

.services-head>div {
    background-color: #262626;
    padding: 12px;
    border-radius: 8px;
    width: fit-content;
    font-size: 18px;
    margin-bottom: 30px;
}


.services h2 {
    padding: 35px 50px;
    border-top: var(--border-main);
    border-bottom: var(--border-main);
    color: #98989A;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services-card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-img {
    height: 70px;
    width: 70px;
    padding: 24px;
    border-radius: 12px;
    background: linear-gradient(130.97deg, rgba(158, 255, 0, 0.2) -66.81%, rgba(158, 255, 0, 0) 37.19%);
    border: 1px solid #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-img > img{
    height: 25px;
    width: auto;
}
.services-card > p{
    color: #E6E6E6;
    font-weight: 500;
}
.card1,
.card2,
.card3{
    border-right: var(--border-main);
}