:root {
    --theme-green: #9EFF00;
    --border-main: 1px solid #262626;
    --head-padding: 100px 0;
}

.review-head {
    position: relative;
    padding: var(--head-padding);
    background-color: #98989A;
    border: var(--border-main);
}

.review-head>h1 {
    font-size: 48px;
    font-weight: 600;
}

.review-head>p {
    font-size: 18px;
    font-weight: 400;
}

.bg-top4 {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    background-image: url("/home/background-4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    opacity: 0.6;
    z-index: 2;
    background-blend-mode: overlay;
}


.review-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: var(--border-main);
    border-top: none;
}

.review-body-card {
    padding: 60px;
    display: flex;
    min-height: 100%;
}

.review-body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.reviewer-text-cont {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reviewer-text-cont>h1 {
    font-size: 22px;
    font-weight: 500;
    color: #D8FF99;
}

.reviewer-text-cont>p {
    font-size: 16px;
    color: #E6E6E6;
}

.reviewer-container {
    padding: 18px;
    border: var(--border-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewer-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.reviewer-left>img {
    height: 50px;
    width: 50px;
}

.reviewer-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reviewer-name {
    font-weight: 500;
    font-size: 18px;
}

.reviewer-desig {
    font-size: 15px;
    color: #E6E6E6;
}

.review-btn {
    border-radius: 8px;
    padding: 18px 20px;
    background-color: #262626;
    font-weight: 500;
    font-size: 17px;
}

.rbc1,
.rbc2,
.rbc3,
.rbc4 {
    border-bottom: var(--border-main);
}

.rbc1,
.rbc3,
.rbc5 {
    border-right: var(--border-main);
}


.faq-head {
    position: relative;
    padding: var(--head-padding);
    background-color: #98989A;
    border: var(--border-main);
}

.bg-top5 {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    background-image: url("/home/background-5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    opacity: 0.6;
    z-index: 2;
    background-blend-mode: overlay;
}

.faq-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: var(--border-main);
    border-top: none;
}

.faq-item {
    border-bottom: var(--border-main);
    border-right: var(--border-main);
}

/* 
.faq-item:nth-child(2n) {
    border-right: none;
}

.faq-item:nth-last-child(-n+2) {
    border-bottom: none;
} */

.faq-card {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.faq-count {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding: 24px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(180deg,
            #242424 0%,
            rgba(36, 36, 36, 0) 100%),
        linear-gradient(230deg,
            rgba(158, 255, 0, 0.2) 0%,
            rgba(158, 255, 0, 0) 35%);
    transition: color 0.3s ease;
}

.faq-item:has(.faq-answer-expanded) .faq-count {
    color: var(--theme-green);
}

.faq-question {
    font-size: 18px;
    font-weight: 500;
    color: #E6E6E6;
    line-height: 1.5;
}

.faq-right {
    font-size: 32px;
    font-weight: 300;
    color: var(--theme-green);
    min-width: 30px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 30px;
    font-size: 16px;
    color: #E6E6E6;
    line-height: 1.6;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer-expanded {
    max-height: 500px;
    padding: 0 30px 30px 30px;
}



.thank-you {
    position: relative;
    padding: var(--head-padding);
    background-color: #98989A;
    border: var(--border-main);
}

.content3 {
    background-color: transparent;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contentTY {
    background-color: transparent;
    z-index: 3;
    text-align: center;
}

.contentTY h1 {
    background-color: transparent;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contentTY p {
    background-color: transparent;
    font-size: 16px;
    color: #E6E6E6;
}

.bg-top6 {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    background-image: url("/home/background-6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    opacity: 0.6;
    z-index: 2;
    background-blend-mode: overlay;
}

.form-img {
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 14px 6px #FFFFFF80 inset;
}

.form-img>img {
    height: 45px;
    width: auto;
}

.start-btn {
    background-color: var(--theme-green);
    padding: 18px 34px;
    color: #1A1A1A;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
}



/* FORM  */

.contact-form{
    
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-family: sans-serif;
    padding: 0 280px;
    padding-top: 40px;
    border: var(--border-main);
  }
  
  
  .identity{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:25px;
    margin-bottom:25px;
    width: 100%;
  }
  
  .inputfield{
    background:#1a1a1a;
    padding:30px;
    border-radius:12px;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
  }
  
  .inputfield label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
  }
  
  .inputfield input{
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:15px;
    border-bottom:1px solid #333;
    padding:8px 0;
  }
  

  
  .reason{
    width: 100%;
    background:#1a1a1a;
    padding:30px;
    border-radius:12px;
    margin-bottom:25px;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
  }
  
  .reason h3{
    margin-bottom:20px;
  }
  
  .why-checkbox{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
  }
  
  .why-checkbox div{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:14px;
  }
  
  .why-checkbox input{
    width:18px;
    height:18px;
    accent-color:#9cff00;
  }
  
  
  .budget{
    width: 100%;
    background:#1a1a1a;
    padding:30px;
    border-radius:12px;
    margin-bottom:25px;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
  }
  
  .sub{
    font-size:13px;
    color:#aaa;
    margin-bottom:25px;
  }
  
  .range-wrapper{
    position:relative;
    margin-bottom:30px;
  }
  
  .range-wrapper input[type="range"]{
    position:absolute;
    width:100%;
    appearance:none;
    height:4px;
    background:#333;
  }
  
  .range-wrapper input::-webkit-slider-thumb{
    appearance:none;
    width:16px;
    height:16px;
    background:#9cff00;
    border-radius:50%;
  }
  
  .budget-values{
    display:flex;
    justify-content:space-between;
    font-size:14px;
  }
  

  .box{
    width: 100%;
    background:#1a1a1a;
    padding:30px;
    border-radius:12px;
    margin-bottom:25px;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
  }
  
  .box textarea{
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:15px;
    border-bottom:1px solid #333;
    padding:8px 0;
    resize:none;
    min-height:120px;
  }

  
  button{
    display:block;
    margin:20px auto ;
    padding:16px 40px;
    border:none;
    font-size: 16px;
    border-radius:8px;
    background:#9cff00;
    color:black;
    font-weight:600;
    cursor:pointer;
  }
  
  