:root {
  --theme-green: #9EFF00;
  --border-main: 1px solid #262626;
  --head-padding: 100px 0;
}

.home-landing {
  position: relative;
  min-height: 100vh;

  border: var(--border-main);
  border-top: none;
}

/* square.png */
.bg-square {
  position: absolute;
  inset: 0;
  background-image: url("/home/square.png");
  background-repeat: repeat;
  z-index: 1;

}

/* background-1.png */
.bg-top1 {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  background-image: url("/home/background-1.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  opacity: 0.6;
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px
}

.digital {
  background-color: transparent;
  font-size: 68px;
  font-weight: 600;
  width: 800px;
  text-align: center;
}

.home-for {
  background-color: #1B1B1B;
  padding: 20px 36px;
  border: var(--border-main);
  border-radius: 12px;
  color: #98989A;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.home-for>span {
  background-color: transparent;
  padding: 10px 12px;
  background-color: #262626;
  border-radius: 8px;
  color: #FFFFFF;
}

.home-buttons {
  background-color: transparent;
  display: flex;
  gap: 13px;
}

.work-btn {
  border: var(--border-main);
  border-radius: 10px;
  padding: 18px 28px;
  background-color: #1B1B1B;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.contact-btn {
  border: var(--border-main);
  border-radius: 10px;
  padding: 18px 28px;
  background-color: var(--theme-green);
  font-weight: 500;
  font-size: 18px;
  color: #262626;
}

.content>p {
  position: absolute;
  top: 700px;
  border: var(--border-main);
  border-radius: 100px;
  padding: 20px 34px;
  background-color: #191919;
  font-size: 18px;
  font-weight: 500;
}


.company {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-left: var(--border-main);
  border-right: var(--border-main);
}

.service-head {
  position: relative;
  padding: var(--head-padding);
  background-color: #98989A;
  border: var(--border-main);
}

.bg-top2 {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  background-image: url("/home/background-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  opacity: 0.6;
  z-index: 2;
  /* filter: grayscale(0.6); */
  background-blend-mode: overlay;

}

.content2 {
  position: relative;
  z-index: 3;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 14px;
}

.content2>h1 {
  background-color: transparent;
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.content2 p {
  background-color: transparent;
  font-size: 18px;
  color: #E6E6E6;
}




.service-body {
  border: var(--border-main);
  border-top: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service-body-card {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.crd2 {
  border: var(--border-main);
  border-top: none;
  border-bottom: none;
}

.service-body-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo-container {
  padding: 24px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background:
    linear-gradient(#9dff0014, #9dff0000); */

  background:
    linear-gradient(180deg,
      #242424 0%,
      rgba(36, 36, 36, 0) 100%),
    linear-gradient(230deg,
      rgba(158, 255, 0, 0.2) 0%,
      rgba(158, 255, 0, 0) 35%);

}

.logo-container>img {
  background-color: transparent;
  height: 25px;
  width: auto;
}

.service-body-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-body-text>h3 {
  font-size: 30px;
  font-weight: 600;
}

.service-body-text>p {
  font-size: 15px;
}

.service-body-card>button {
  height: 60px;
  width: 100%;
  padding: 18px 16px;
  background-color: #262626;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-style: 500;
  color: white;
}

.why-head {
  position: relative;
  padding: 100px 0;
  background-color: #98989A;
  border: var(--border-main);
}

.bg-top3 {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  background-image: url("/home/background-3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  opacity: 0.6;
  z-index: 2;
  background-blend-mode: overlay;

}


.why-body{
  border: var(--border-main);
  border-top: none;
}
.why-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.why-card{
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.why-card-top{
  display: flex;
  align-items: center;
  gap: 20px;
}
.why-card-top > h3{
  font-size: 26px;
  font-weight: 500;
}
.wc1,.wc2{
  border-bottom: var(--border-main);
}
.wc1,.wc3{
  border-right: var(--border-main);
}
.why-card > p{
  font-size: 17px;
  color: #E6E6E6;
}